@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  --navbar-bg: rgba(0, 0, 0, 0.751); /* 60% opacity */
}




@layer components {
  @media (min-width: 1024px) { /* lg breakpoint */
  
    #nd-nav {
      max-width: 100%;
      width: 100% !important;
      border: none !important;
      border-bottom: 1px solid rgb(48, 48, 48) !important;
      border-radius: 0px !important;
      position: fixed !important;
      top: -8px !important;
      background-color: var(--navbar-bg);
      /* backdrop-filter: blur(100px); Adjust the blur strength  */
      
      /* background-color: black !important; */
      padding: 5px !important;
    }
  }
}
